## Python Recap

## List Slicing

"We focus on `list` slicing here because of its importance in solving data science problems. Next week, we'll talk about `NumPy arrays`, which are inherently lists of numbers with more efficiency for numerical computations such as statistical analysis (e.g., mean, median, and variance) and linear algebra (e.g., matrix multiplication and dot product).

**Basic slicing with step**

In [1]:
# [startIndex:stopIndex:step] - start index is inclusive, stop index is exclusive
# Create a list of numbers
my_list = [10, 20, 30, 40, 50, 60, 70, 80]

# Slicing from index 1 to 5 (exclusive) with a step of 2
print(my_list[1:5:2])  # Output: [20, 40]

[20, 40]

**Slicing with negative indices and negative steps**

In [2]:
# Slicing the list using negative indices
print(my_list[-5:-1])  # Output: [40, 50, 60, 70]
print(my_list[-1:-5:-1])  # Output: [80, 70, 60, 50]

[40, 50, 60, 70]
[80, 70, 60, 50]

**Similarity between slicing and range function**

In [3]:
print("====positive step=====")
for i in range(2, 10, 2):
    print(i)

print("====negative step=====")
for i in range(10, 5, -1):
    print(i)

====positive step=====
2
4
6
8
====negative step=====
10
9
8
7
6

**Omitting start or end index**

In [4]:
# Slicing from the beginning to index 4 (exclusive)
print(my_list[:5])  # Output: [10, 20, 30, 40, 50]

# Slicing from index 3 to the end of the list
print(my_list[3:])  # Output: [40, 50, 60, 70, 80]

# Slicing with a step of 2
print(my_list[::2])  # Output: [10, 30, 50, 70]

[10, 20, 30, 40, 50]
[40, 50, 60, 70, 80]
[10, 30, 50, 70]

**Reverse the list using slicing**

In [5]:
print(my_list[::-1])  # Output: [80, 70, 60, 50, 40, 30, 20, 10]

[80, 70, 60, 50, 40, 30, 20, 10]

**Copying a list using slicing**

In [6]:
# Create a copy of the entire list using slicing
copy_list = my_list[:] # This is useful for when you want to make a copy of a batch (chunk of the original data set)
copy_list_backward = my_list[::-1]

print(copy_list) # Output: [10, 20, 30, 40, 50, 60, 70, 80]
copy_list[0] = 0 # When you change the value of one variable, it does not affect the other because they are different memory addresses
print(my_list)
print(copy_list)
print(copy_list_backward)

another_copy = my_list # These result in the SAME memory address, so when you change 1, you change both lists
# Optional Homework: Draw the RAM diagram
my_list[0] = 1000
print(another_copy)

print(type(copy_list)) # This is a list datatype
print(type(another_copy)) # This is a list datatype
print(copy_list is another_copy) # Is the memory space shared between the 2 variables? No

[10, 20, 30, 40, 50, 60, 70, 80]

**Question:** What is the difference between normal copy (`list2` = `list1`) and copy with slicing (`list2`=`list1[:]`)?

## List Comprehension

List comprehension can be replaced by a `for` loop. However, it is more concise and readable. As a data scientis, it is a good practice to use list comprehension when possible.

**Map data from one list to another list**

In [7]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)   # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [8]:
# list comprehensions (preferred)
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)   # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

**Filter data**

In [9]:
nums = [0, 1, 2, -3, 4, -5]
#filter pisitive numbers
even_squares = [x for x in nums if x > 0]
print(even_squares)  # Prints "[0, 4, 16]"

[1, 2, 4]

## Lambda functions (anonymous functions)

Sometimes, you only need a function for a quick operation, and there's no need to give it a name.
`lambda` allows you to define functions on the fly, without cluttering your code with function names that are only used once.

Syntax:

```python
#defining a nameless function in one line
lambda arguments: expression
```

In [10]:
from functools import reduce


# List of numbers
numbers = [1, 2, 3, 4, 5]

# Use reduce with lambda to calculate the product of all numbers
result = reduce(lambda x, y: x * y, numbers)

#First iteration: 1 * 2 = 2
#Second iteration: 2 * 3 = 6
#Third iteration: 6 * 4 = 24
#Fourth iteration: 24 * 5 = 120

print(result)  # Output: 120

120

**Note:** `reduce()` applies a function cumulatively to the items of an iterable (such as list), reducing them to a single result.

Another approach is to use `def` to define a function. However, `def` is more suitable for functions that are used multiple times in your code.

In [11]:
def product(x, y):
    return x * y

result = reduce(product, numbers)  # Output: 120
print(result)  # Output: 120

120

**Note:**  we don't call a fucntion product(x, y), instead we pass the function itself (functional programming). So with `lambda`, we can pass an function without name (anonymous) as an argument to another function.

We use `lambda` function next session when we talk about `Pandas` library for data manipulation (e.g., filtering rows, selecting columns, and applying functions to columns).

## Dictionary
`Dictionary` in python is a very useful data structure to represents data in key-value pairs. We're going to talk about the other represntation of data such `pandas dataframe` in this course. But keep in mind, conceptually, they are other manifestation of `dictionary` in python with some addtion features to make it easier to work with data.

In [12]:
data_dict = {'Name': ['Alice', 'Bob', 'Aritra'],
                   'Age': [25, 30, 35],
                   'Location': ['Seattle', 'New York', 'Kona']}

In [13]:
print(data_dict['Name'][0])  # Output: Alice

Alice

This data is in the form of `dictionaly of lists`. We can also express it in the form of `list of dictionaries` as shown below:

In [14]:
data_list = [{'Name': 'Alice', 'Age': 25, 'Location': 'Seattle'},
         {'Name': 'Bob', 'Age': 30, 'Location': 'New York'},
         {'Name': 'Aritra', 'Age': 35, 'Location': 'Kona'}]

In [15]:
print(data_list[0]['Name'])  # Output: Alice

Alice

## Instructions
Use the links to write your codes in LeetCode website. After writing your code, copy and paste it from LeetCode the `.html` file. Submit the `.html` file in the assignment submission area on D2L.

**Important Note:** Mention in your text file whether your code accepted or not. There is NO penalty for wrong answers. The purpose of this assignment is to practice coding.


### LeetCode problems on Dictionary

**217. Contains Duplicate** - Live programming

https://leetcode.com/problems/contains-duplicate/description/


**242. Valid Anagram**

https://leetcode.com/problems/valid-anagram/description/

**1. Two Sum**

https://leetcode.com/problems/two-sum/description/

**26. Remove Duplicates from Sorted Array**

https://leetcode.com/problems/remove-duplicates-from-sorted-array/description/

## Practice: Generators

In [16]:
# For Machine Learning, there is often a large set of data that must be processed
# Need generators to save on memory space when looping over a large data set or infinite loop
def infinite_sequence():
    num = 0
    while True:
        yield num # yield keyword it asks the system to use a generator and only loads one item in memory at a time
        print(num)
        num += 1

gen = infinite_sequence()
next(gen) # Function moves an iterator to the next item

0

In [17]:
next(gen)

0

1

In [18]:
next(gen)

1

2

## Practice: Exceptions and errors

In [19]:
# Options for using exceptions:
# 1. raise/throw a built-in exception
# 2. create a custom exception, and then raise/throw it

In [20]:
# raise keyword can be used to raise/throw an error during production (live running of the code)
sin_number = 1111111112 # Business constraint: SIN number is always 9 digits
# Programming constraint -> Raise/throw the error

# raise keyword passes the control of the computer to the error handler.
# And does not continue the regular execution of the code
try:
    if len(str(sin_number)) != 9:
        raise ValueError("SIN number must be exactly 9 digits");
    else:
        print("SIN number is valid")
except(ValueError) as valueErrorObject:
        print(f"SIN number invalid: {valueErrorObject}")

SIN number invalid: SIN number must be exactly 9 digits

In [21]:
quotient = 1/0 # This will raise an error on its own

ZeroDivisionError: division by zero

In [ ]:
# assert() function can be used for unit testing
assert(len(str(sin_number)) == 9), f"The SIN number must be exactly 9 digits, but was: {sin_number}"